*{
	font-family:"Courier New";
}
a{
	color: #0e232d;
	style:bold;
}
body{
	margin: 0px
}
a:hover, nav li a.current{
		color: #018918;
}

@font-face {
        font-family: 'intro_head_rbase';
    src:url('introheadr-base-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #b3d2ba:;
	width: 400px;
	height: 200px;
}
#blockquote{
	background-color: #0e232d;
	color:#589f67;
	padding: 10px 100px;
	opacity:.6;
}

h1{
	font-family: 'intro_head_rbase';
	text-align: center;
}
h3{
	font-family: veranda;

p{
	font-family: courier;
	color: black
	
}
}
.background{
	width:100%;
	height: 100%;
	opacity: .4;
	position: absolute;
	top:0;
	z-index:-1;
}
.pictures{
	border:10px solid #616766;
	display: inline-block;
	padding: 5px 5px 0px 5px;
	margin:20px;

}
.resize{
	width: 200px
}

#list ol{
	background-color: #0e232d;
	color:#589f67;
	padding: 20px 100px;

}
#nav, footer{
	clear:both;
	color: #0e232d;
	background-color: #ffffff;
	height: 30px;
}
#nav ul{
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

#nav li{
	display: inline;
	margin-right: 40px;
}

#nav li a{
	color: #0e232d;
}
	
#nav li a:hover, nav li a.current{
		color: #018918
	}


.resize{
	max-height:300px
}

#button{
  background-color:red;
    border: none;
    color: red;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 30%
}

.form{
	background-color: black;
	color: white
}